@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;600&family=Lato:wght@400;700&family=Quicksand:wght@300;400;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
    /* scroll-behavior: smooth; */
    scroll-padding-top: 10vh;
}

.body-div {
    font-size: 16px;
    font-family: "AR One Sans", sans-serif;
    width: 100%;
    min-height: 100vh;
    /* padding-top: 7%; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Quicksand', sans-serif;*/
}

.head {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9999999;
    background-color: rgb(255, 255, 255);
}

.head div {
    font-size: 14px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color:transparent;
}

.head div img {
    margin: 0px 10px 0px 5px;
    width:140px;
    height:46.46px;
}

.nav {
    background-color: rgb(9, 9, 9);
    font-size: 23px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    padding: 2px;
    margin: 1px 10px;
    border-radius: 35px;
}

.nav ul {
    background-color: inherit;
    list-style-type:none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 90px;
}
.navigator li a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
    margin: 100px 0px;
}
.navigator a:hover,
a:active{
    color: rgb(0, 255, 255);
    text-decoration: underline;
    position: relative;
    bottom: 2px;
}

.nav ul li input {
    width: 100%;
    position: relative;
    background-color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 0px 10px;
}


.home-box {
    background-image: url(images/home-bg.jpg);
    background-size:cover;
    background-blend-mode: luminosity;
    background-color: rgb(186, 248, 255);
    min-height: 90vh;
    margin-top: 10vh;
}

.home-box marquee {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.566);
    backdrop-filter:blur(2px);
    color: white;
    font-size: 50px;
    position: absolute;
    top: 36vh;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    /* border: 2px solid rgb(255, 255, 255); */
    box-shadow: 0px 5px 10px rgb(67, 255, 255);
    text-shadow: 0px -2px 10px rgb(67, 255, 255);
}

.event-box {
    /* border: 5px solid; */
    display: flex;
    justify-content: left;
    flex-flow: row nowrap;
    position: relative;
    height: auto;
}

.event-box aside {
    /* border: 2px solid green; */
    background-color: rgb(0, 0, 0);
    min-height: 95vh;
    max-height: 95vh;
    width: auto;
    padding: 20px;
    position: sticky;
    top: 10%;
}

.event-box aside ul{
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    justify-content: center;
    align-items:flex-start;
}
.event-box aside li{
    font-size: 20px;
    margin: 30px 40px 2px 5px;
    padding: 4px;
    width: 100%;
    height: 5vh;
    box-shadow: 0px 0px 10px rgb(18, 146, 146);
    border-radius: 10%;
    transition: ease-in-out 0.2s;
}

.event-box aside li:hover{
    background-color: rgb(55, 55, 55);
}

.event-section {
    min-height: 200vh;
    width: 100%;
    position: relative;
    background: linear-gradient(0deg,
            rgb(0, 200, 255),
            rgb(111, 213, 247),
            rgb(98, 246, 246),
            rgb(103, 252, 247),
            rgb(98, 246, 246),
            rgb(111, 213, 247),
            rgb(0, 200, 255));
    box-shadow: 0px 0px 5px black;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 8vh;
}
.event-section h2,h3{
    font-size: 38px;
}
.event-container{
    margin: 40px 0px;
}
.event-container>h2{
    text-decoration: none;
    font-size: 40px;
    text-align: center;
}
.card-box{
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    padding: 10px;
    margin:auto;
}
.card{
    background-color: rgba(252, 252, 252, 0.81);
    /* border: 1px solid black; */
    border-radius: 20px;
    width: 20vw;
    height: 25vh;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    font-size: 26px;
    box-shadow: 0px 0px 5px rgba(181, 176, 175, 0.762);
    transition: ease-in-out 0.4s;
}
.card:hover{
    background-color: rgba(181, 179, 179, 0.384);
    box-shadow: 0px 0px 10px black;
}
.card:active{
    background-color: rgb(73, 71, 71);
    box-shadow: 0px 0px 0px black;
    height: 24vh;
}
.card:hover h3{
    transition: ease-in-out 0.4s;
    font-size: 48px;
}
.card:hover div{
    transition: ease-in-out 0.4s;
    font-size: 20px;
}
.registration-outer-box {
    /* border: 5px solid; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,
            rgb(0, 200, 255),
            rgb(111, 213, 247),
            rgb(98, 246, 246),
            rgb(103, 252, 247),
            rgb(98, 246, 246),
            rgb(111, 213, 247),
            rgb(0, 200, 255));
}

.registration-inner-box {
    width: 60vw;
    padding: 3% 0;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.515);
    transition:0.2s;
}

.registration-inner-box:hover {
    box-shadow: 0px 5px 30px rgb(45, 45, 45);
}

.registration-top {
    background-color: rgb(215, 235, 254);
    border-radius: 30px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.registration-top img {
    width: 30%;
}

.registration-top span,
h2 {
    font-size: 25px;
    text-decoration: underline;
    background-color: transparent;
}

.registration-main {
    border-radius: 30px;
    padding: 20px 30px;
}

.registration-main form {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
}

.registration-main form label {
    font-weight: bold;
    font-size: 22px;
}

.registration-main form input,
select {
    font-size: 20px;
    width: 90%;
    padding: 6px;
    margin: 3px 10px 10px 4px;
    border-radius: 5px;
}

.registration-main form input:hover,
select:hover,
button:hover {
    border-color: rgb(241, 171, 65);
}

.registration-main span {
    margin: 0px 10px 0px 0px;
}

.form-flex {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.button {
    width: 150px;
    margin: 20px 0px 0px 0px;
}

.footer-box {
    background-color: rgb(0, 0, 0);
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column nowrap;
}
.footer-icon{
    /* border: 2px solid red; */
    font-size: 50px;
    color: aliceblue;
    background-color:transparent;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 60vw;
}
.footer-icon a,span{
    background-color: transparent;
}
.footer-icon img{
    background-color:transparent;
    width: 40px;
    height: 40px;
    transition:0.4s;
}
.footer-icon img:hover{
    width: 45px;
    height: 45px;
    transform: rotate(360deg);
}
.footer-icon img:active{
    width: 35px;
    height: 35px;
    transform: 0.1s;
    transform: rotate(-360deg);
}
.footer-logo{
    /* border: 2px solid red; */
    font-size: 32px;
    font-weight: bold;
    background-color: transparent;
    color:white;
    text-shadow: 0px 4px 15px aqua;
}
.footer-content{
    font-size: 16px;
    background-color: transparent;
    color:white;
}